.Autophagy-page {
    font-family: Arial, sans-serif;
    background-color:#eeecec;
}

.autophagyproduct-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.autophagyproduct-image {
    width: 50%; /* Adjust the width as needed */
    height: 500px; /* Increase the height to make the image larger */
    overflow: hidden;
    margin-right: 20px;
}

.autophagyproduct-image img {
    width: 85%;
    height: 100%;
    object-fit: cover; /* This ensures the image covers the area without distortion */
}

.autophagyproduct-line{
    color:gray;
    font-size: 15px;
    margin-top: 1px;
}

.autophagyproduct-info {
    width: 45%;
}

.autophagyproduct-title {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 10px;
}

.autophagyproduct-price {
    margin-bottom: 8px;
    color:rgb(103, 103, 244);
    font-size: 30px;

}

.autophagyproduct-discount {
    margin-bottom: 7px;
    color: gray;
}

.autophagyproduct-description {
    margin-bottom: 20px;
    margin-top: 30px;
}

.autophagyquantity-controls {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.autophagyquantity-controls button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.autophagyquantity-controls input {
    width: 50px;
    text-align: center;
    margin: 0 10px;
}

.autophagyproduct-actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.autophagybtn1 {
    background-color:  rgb(210, 210, 11);
    color:black;
    border: none;
    border-radius: 30px;
    padding: 20px 50px;
    cursor: pointer;
    width: 45%;
}


.autophagybtn2 {
    background-color:black;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 20px 50px;
    cursor: pointer;
    width: 45%;
}
.autophagyproduct-bottomimg{
    width:100%;
    height: 20%;
    margin-top: 25px;
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin-right: 50px;
}


/* style.css */
.autophagytoggle-container {
    width: 95%;
    margin-top: 20px;
    border-top :1px solid #beb8b8;
    border-bottom:1px solid #beb8b8;
    padding: 10px;
    border-radius: 5px;
}

.autophagytoggle-heading {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.autophagyarrow {
    transition: transform 0.3s ease-in-out;
}

.autophagytoggle-content {
    margin-top: 10px;
}


.autophagyproduct-bottomimg img{
    width:100%;
    height: 80%;
    margin-top: 25px;
    display: flex; 
    justify-content: center; 
    align-items: center;
   
}

.autophagyresearch{
    font-size: 30px;
    margin-left: 20%;
    margin-top: 30px;
    margin-bottom: 10px;
}
.autophagyheader-container {
    display: flex;
    align-items: center; /* Aligns items vertically in the center */
    justify-content: space-between; /* Spaces out the h1 and h4 elements */
}

.autophagytoggle-heading {
    text-decoration: none;
    font-size: 20px; /* Adds an underline to the h4 element */
}


/* style.css */
.autophagycontainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 98%;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 18px;
    background-color:rgb(189, 184, 184);
}

.autophagyimage-section {
    position: relative;
    width: 97%;
    overflow: hidden;
    border-radius:18px 0 0 18px;
}

.autophagyimage-section img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.autophagyimage-section:hover img {
    transform: scale(1.1);
}

.autophagydate-section1 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #121111;
    font-size: 21px;
}

.autophagycalendar-icon {
    margin-right: 5px;
}

.autophagytext-section {
    width: 45%;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}


.autophagytext-section h2{
    margin-top: 10px;
    font-size: 30px;

}

.autophagytext-section p{
    margin-top: 10px;
    font-size: 21px;
}
.autophagydate-section1 {
    position: static;
    margin-top: auto;
    color: rgb(101, 98, 98);
    font-size: 17px;
    align-content: center;
}
.autophagyinvisible-container {
     /* Makes the container invisible */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px; /* Adds space around the container */
}

.autophagystar-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Ensures the stars and button take up the full width */
    padding: 0 20px; /* Adds space on the left and right of the stars and button */
}

.autophagyreview-btn {
    background-color: #f0f0f0;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 20px;
    border-radius: 10px;
}

.autophagyreview-btn:hover, .review-btn:active {
    background-color: #ddd;
}

.autophagystars {
    display: flex;
}

.autophagystar {
    color: rgba(243, 156, 16, 0.885);
    font-size: 30px;
    margin-left: 5px;
}

.autophagycenter-text {
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
    
}
.autophagycenter-text a {
    text-decoration:underline;
    color:#000
}
/*card display*/
.autophagyimg-card h1{
    font-size: 50px;
    text-align: center;
}
.autophagycontainer1{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px; /* This creates space between the boxes */
    
}

.autophagybox1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%; /* Adjust based on desired layout */
    border: none; /* Adds a border */
    padding: 10px; /* Adds some padding inside the box */
    background-color:white;
}


.autophagybox1 img {
    width: 100%;
    height: auto;
   }
   
.autophagycard__btn {
    background-color: #000; /* Black background */
    color: #fff; /* White text */
    padding: 0.5rem 1rem; /* Padding around the text */
    width:50%;
    height: 50%; /* No border */
    border-radius: 50px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease,box-shadow 0.3s ease;; /* Smooth transition for hover */
}

.autophagycard__btn:hover {
    background-color: #484a48; /* Color change on hover */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); /* Adds a shadow effect */
}

.autophagysave-text {
    background-color: #007BFF; 
    color: #fff; 
    padding: 5px 10px; 
    border-radius: 50px; 
    margin-bottom: 10px;
    margin-right: 58%;
}
.autophagycard1 {
    display: flex;
    width:100%;
    justify-content: centre;/* Aligns items horizontally */
    align-items: center;
    gap: 20px; /* Creates space between the text container and the button */
    border:none; /* Adds a border around the card */
    padding: 5px; /* Adds some padding inside the card */
}
   
.autophagytext-container {
    display: flex;
    flex-direction: column; /* Stacks text vertically */
    gap:0.2px;
    font-size: 15px; /* Creates space between the texts */
}
/* Existing CSS remains unchanged */

/* Mobile-first adjustments */
@media only screen and (max-width: 600px) {
    .autophagyproduct-container {
        flex-direction: column;
    }

    .body{
        width: 100%;
    }
    .autophagyproduct-image {
        width: 100%;
    }

    .autophagyproduct-image img {
        width: 100%;
        height: auto;
        
    }

    .autophagyproduct-info {
        width: 100%;
        margin-top: -90%;
    }

    .autophagyproduct-title {
        font-size: 30px;
    }

    .autophagyproduct-price {
        font-size: 20px;
    }

    .autophagyquantity-controls button, .autophagyquantity-controls input {
        padding: 5px;
    }

    .autophagybtn1, .autophagybtn2 {
        width: 100%;
        padding: 10px 20px;
    }

    .autophagyproduct-bottomimg {
        width: 100%;
        height: auto;
        margin-right: 0;
    }

    .autophagyproduct-bottomimg img {
        width: 100%;
        height: auto;
    }

    .autophagyresearch {
        font-size: 20px;
        margin-left: 10%;
    }

    .autophagyheader-container {
        flex-direction: column;
    }

    .autophagybox1 h2{
        font-size: 130%;
    }

    .autophagyheader-container h1{
        font-size: 100%;
        margin-right: 70%;
    }

    

    .autophagycontainer {
        flex-direction: column;
        width: 100%;
        margin: 0%;
        
    }

    .autophagyimage-section img {
        width: 100%;
        height: 60%;
        border-radius: 5%;
    }

    .autophagytext-section {
        width: 95%;
        margin-top: -80%;
        
    }

    .autophagytext-section h2 {
        font-size: 20px;
        padding-top: 20%;
        margin-top: 70%;
    }

    .autophagytext-section p {
        font-size: 16px;
        
    }

    .autophagydate-section1 {
        margin-left: -60%;
        font-size: 14px;
    }

    .autophagyimg-card h1{
        font-size: 200%;
    }

    .autophagystars{
        margin-left: -15%;
    }

    .autophagycard__btn{
        margin-top: 10%;
    }

    .autophagycard {
        width: 100%;
        margin: 10px 0;
    }

    .autophagycard__img {
        width: 100%;
        height: auto;
    }

    .autophagycard__content {
        padding: 1rem;
    }

    .autophagycard__header {
        font-size: 18px;
    }

   .autophagytoggle-heading22{
    margin-top: -12%;
    margin-left: 50%;
   }

    .autophagysave-text {
        margin-left: 90%;
        
        margin-bottom: -12%;
        width: 27%;
    }
    
    .autophagytext-container{
        font-size: 90%;
        margin-top: 10%;
    }

    .autophagycontainer1 {
        flex-direction: column;
    }

    .autophagybox1 {
        width: 90%;
        margin: 0%;
    }

    .autophagybuttons {
        justify-content: center;
        margin-left: 0;
    }

    .autophagystar-rating{
        margin-left: -20%;
    }
    
    .autophagyreview-btn{
        margin-left: 20%;
        font-size: 80%;
    }    
    

    #autophagyimageContainer {
        width: 100%;
        height: auto;
    }

     .autophagylast h2, .autophagylast h6 {
        font-size: 14px;
    }
    .autophagylast h3{
        font-size: 10px;
    }

    .autophagyblock-container {
        flex-direction: column;
        width: 100%;
    }

    .autophagytext{
        font-size: 100%;
        margin-top: -5%;
    }

    .autophagycard__text2{
        margin-top: -10%;
    }

   .autophagytoggle-heading123{
        margin-top: -12%;
        margin-left: 50%;
   }

    .autophagysearch-box input {
        margin: 0%;
        width: 100%;
        
        
    }
}
