* {
    padding: 0px;
    margin: 0px;
}

.bg-img {
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    width: 99vw;
    height: 60vh;
    position: relative;
    background-image: url(1.jpg);
    background-position: center;
}

.bg-overley {
    h1 {
        position: absolute;
        color: white;
        font-family: Arial;
        width: 1000px;
        text-align: center;
        font-size: 40px;
        top: 9%;
    }
    h2 {
        position: absolute;
        color: white;
        font-family: Arial;
        width: 1115px;
        text-align: center;
        font-size: 40px;
        top: 16.5%;
    }
    h3 {
        position: absolute;
        color: rgb(85, 77, 77);
        font-size: 22px;
        font-family: Arial;
        top: 28%;
        width: 1235px;
        text-align: center;
    }
    h4 {
        position: absolute;
        color: rgb(85, 77, 77);
        font-size: 22px;
        font-family: Arial;
        top: 33%;
        width: 1102px;
        text-align: center;
    }
    h5 {
        position: absolute;
        color: rgb(85, 77, 77);
        font-size: 22px;
        font-family: Arial;
        top: 38%;
        width: 1050px;
        text-align: center;
    }
}

.container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    column-gap: 100px;
    padding: 280px;
    position: absolute;
    left: -7%;
}

.box1 {
    width: 700px;
    height: 185px;
    background-color: rgb(38, 38, 183);
    border: 1px solid #ccc;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    font-family: Arial;
    color: white;
    h7 {
        color: white;
        font-size: 25px;
    }
}

.box2 {
    width: 700px;
    height: 185px;
    background-color: rgb(38, 38, 183);
    border: 1px solid #ccc;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    font-family: Arial;
    color: white;
    h8 {
        color: white;
        font-size: 25px;
    }
}

.my-button {
    background-color: blue;
    /* Green background */
    border: none;
    /* Remove borders */
    color: white;
    /* White text */
    padding: 15px 32px;
    /* Padding */
    text-align: center;
    /* Center text */
    text-decoration: none;
    /* Remove default underline */
    display: inline-block;
    /* Make it behave like a block element */
    font-size: 16px;
    /* Font size */
    margin: 4px 2px;
    /* Margin */
    cursor: pointer;
    /* Cursor on hover */
    border-radius: 10px;
    /* Rounded corners */
}


/* Change background color on hover */

.my-button:hover {
    background-color: purples;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f2f2f2;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.logos {
    overflow: hidden;
    padding: 60px 0;
    background: rgb(0, 0, 0);
    white-space: nowrap;
    position: relative;
}

.logos:before,
.logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
}

.logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(11, 8, 8));
}

.logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(15, 10, 10));
}

.logos:hover .logos-slide {
    animation-play-state: paused;
}

.logos-slide {
    display: inline-block;
    animation: 35s slide infinite linear;
}

.logos-slide img {
    height: 50px;
    margin: 0 40px;
}