/* Reset default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Base styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.blog-h1 {
    font-size: 24px;
    margin-bottom: 20px;
}
figure img {
    max-width: 100%;
    height: auto;
}

.blogtask-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.blog-Section_card, .Section_card {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
}

.blog-card-text {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.blog-card-text h1 {
    font-size: 18px;
    margin-bottom: 10px;
}

.blog-card-text p {
    font-size: 14px;
    color: #333;
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
    .blog-Section_card, .Section_card {
        width: calc(50% - 20px);
    }
}

@media only screen and (max-width: 480px) {
    .blog-Section_card, .Section_card {
        width: 100%;
    }
}
